{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="login-section">
        <img src="{% static 'images/login.png' %}" class="login-img" alt="Description of the image">
        <h1 class="login-section-font"> MEMBER LOGIN </h1>
        <input name="username" id="login-section-input-username" class="login-section-input" type="text" placeholder="Username">
        <input name="password" id="login-section-input-password" class="login-section-input" type="password" placeholder="Password">
        <button id="login-section-btn">LOGIN</button>
        <a href="{% url 'register' %}">Don't have an account? Register</a>
    </div>
</form>
{% endblock content %}